.Form {
  background: rgb(2,0,36);
  background: linear-gradient(68deg, rgba(2,0,36,1) 0%, rgba(55,156,194,1) 24%, rgba(0,77,130,1) 79%); 
  background-image: url('https://images.unsplash.com/photo-1527606432722-8b1422ce77a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: brightness(1.4);
}

/*.Form {
  background-image: url('https://images.unsplash.com/photo-1527606432722-8b1422ce77a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: brightness(1.4);
  font-family: "Raleway", sans-serif;
}*/

.Form h1 {
  line-height: 2.5rem;
  margin-top: 100px;
  margin-bottom: 10px;
  color: white;
}

.Form p {
  line-height: 1.5rem;
  margin-bottom: 50px;
  color: white;
}

.styles-button {
  align-content: center;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  width: 115px;
  height: 40px;
  color: rgb(29, 31, 34);
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  transition: width 0.5s, height 0.5s;
  cursor: pointer;
}

.styles-button:hover {
  border-color:white;
  background-color: white;
  color:rgb(8, 64, 78);
  width: 150px;
  height: 44px;
}